@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.bg-custom {
  background-image: url('./assets/images/heroimage4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.heroBtn {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: white;
  background-color: black;
  transition: background-color 0.3s;
}

.heroBtn:hover {
  background-color: #4a4a4a; 
}